.projects {
    height: auto;
    /* max-width: 85rem; */
    margin: 0 auto;
    background-color: #282828;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    padding: 3% 10%;
    color: white;
}

.projects_content_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projectDiv {
    max-width: 550px;
    width: 550px;
    background-color: rgba(107, 107, 107, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 16px;
    margin: 16px auto;
    transition: box-shadow 0.3s ease-in-out;
}

.projectDiv:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

#projectLink {
    color: white;
    text-decoration: none;
}

#projectLink:hover {
    text-decoration: underline;
}