.statistics {
    /* height: calc(100vh - 15rem); */
    height: 31rem;
    margin: 0 auto;
    background-color: rgb(92, 181, 236);
    background-color: #F2F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5%
}

.github_stats_div {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
    padding: 1.5% 0;
}

#github_stats {
    margin-left: -2%;
}

#github_streak {
    margin-left: 2%;
}


/* MEDIA QUERY LIST */

/* 
@media (min-width: 1600px)
@media (min-width: 1401px)
@media (min-width: 1201px) and (max-width: 1400px)
@media (min-width: 993px) and (max-width: 1200px)
@media (min-width: 769px) and (max-width: 992px)
@media (min-width: 577px) and (max-width: 768px)
@media (max-width: 576px) 
*/