.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 4rem;
    background: rgb(40, 40, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}